body {
    background: #ffffff;
    color: #333;
    font-weight: normal;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 40vw;
    margin: auto;
    margin-right: 280px;
}
.section {
    margin: 25px auto;
}

.section .col2.first {
    float: left;
}
.section .seccontactform input[type="text"],
.section .seccontactform input[type="email"],
.section .seccontactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}

.section .seccontactform input[type="submit"] {
    padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #FF9999;
    font-size: 16px;
    margin: 7px 0;
    cursor: pointer;
    border-radius: 5px;
}
input[type=text] {
    width: 85%;
}
.buttons {
    padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #FF9999;
    font-size: 16px;
    margin: 7px 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
